* {
  padding: 0;
  margin: 0;
}
html,
body,
#root,
.container {
  font-family: "JetBrains Mono", serif;
  min-height: 100% !important;
  height: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 40px;
  text-align: center;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.Panel {
  width: 920px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 0% !important;
  height: 20px;
}
.hight-30 {
  min-height: 0px !important;
  height: 30px;
}
.Radio {
  scale: 1.2;
  margin-right: 5px;
}
.wordContContainer {
  display: flex;
}
.labelRadio {
  align-self: center;
  box-sizing: border-box;
  height: 30px;
  float: left;
  clear: none;
  display: block;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: 0;
  background-color: white;
}
.radio-bg {
  background-color: #d9eafd;
}
@media (max-width: 938px) {
  .visible-lg {
    scale: 0;
    /* visibility: hidden; */
  }
  .scale-down {
    scale: 0.5;
  }
  .typingspce {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
  }
  .hight-30 {
    font-size: 3vw;
  }
  .labelRadio {
    align-items: center;
    display: flex;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hight-30 {
    top: 5%;
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
  }
}
